@charset "UTF-8";

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css);

:root {
  --blue: #79A9F5;
  --indigo: #C45F90;
  --purple: #A16AE8;
  --pink: #FC8BC0;
  --red: #F85C70;
  --orange: #FF8882;
  --yellow: #FAD02C;
  --green: #A3C14A;
  --teal: #20c997;
  --cyan: #47D8E0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #F85C70;
  --secondary: #6c757d;
  --success: #A3C14A;
  --info: #47D8E0;
  --warning: #FF8882;
  --danger: #F85C70;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  /* MEIN ROOTS */
  --global-primary: #4f7721;
  --global-secundary: #d7d98a;
  --global-text: #103406;
  --global-accent: #fc6100;
  --global-primary2: #748749;
  --border-1: 2px dotted magenta;
  --border-2: 2px dashed lime;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

ol ol,
ul ul,
ol ul,
ul ol {
    list-style: none;
    margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
p {
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

figure {
  margin: 0 0 1rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
  overflow-x: hidden;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

.btn {
  display: inline-block;
  width: 100%;
  max-width: 230px;
  min-height: 50px;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 40px;
  border-radius: 37px;
  margin: 0 auto;
  box-shadow: 0px 5px 10px black;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn-primary {
  background-color: #fc6100;
  transition: background 0.3s linear;
}
.btn-primary:hover {
  background-color: #fa4500;
}
.btn-primary > span {
  margin-left: 5px;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

body {
  margin: 0;
  font-family: system-ui;
  font-size: 1rem;
  line-height: 1.15;
  color: #212529;
  min-height: 100vh;
  background-color: #fff;
  overflow-x: hidden;
}

/*  HEADER STARTING NOW  */
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  text-align: start;
}

/*-----------------------------------------------/
/       NAVBAR SECTION STARTING NOW               /
/       NAVBAR SECTION STARTING NOW               /
/       NAVBAR SECTION STARTING NOW               /
/------------------------------------------------*/

#header {
  border-bottom: 1px solid var(--global-secundary);
}
.header__background {
  background-color: var(--global-text);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.header a {
  color: var(--global-secundary);
}
.header a:nth-of-type(2) {
  margin-left: auto;
  margin-right: 10px;
}
.header a:hover {
  color: #ff7900;
}

/*------------------------------------------------/
/       NAVBAR SECTION STARTING NOW               /
/------------------------------------------------*/

#navBar {
  position: relative;
}
.nav__background {
  background-color: var(--global-text);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}
#check,
.checkBtn {
  display: none;
}
.nav__logo {
    height: 120px;
}
.nav__logo img {
    height: 100%;
    width: 250px;
    object-fit: cover;
    object-position: center;
}
.navbar .menu-item {
  display: inline-block;
  margin-left: 5px;
}
.navbar a {
    text-transform: capitalize;
    padding: 7px 13px;
    border: 2px solid transparent;
    border-radius: 17px;
    color: var(--global-secundary);
    transition: border 0.3s ease-in-out;
}
a.active, .navbar a:hover {
    border: 2px solid var(--global-secundary);
    color: #f2d16d;
}
.nav__logo .anchor-logo:hover {
  border: 2px solid transparent;
  box-shadow: unset;
}

/*-----------------------------------------------/
/       SHOWS SECTION STARTING NOW               /
/-----------------------------------------------*/

.shows__background {
    background-color: white;
    background-image: url(../image/Terms-BG-picture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 80vh;
}
.shows__frame {
    background: rgba(1, 192, 1, 0.653);
    background: rgba(1, 100, 1, 0.9);
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 0% 50% 50% 0% / 0% 125% 125% 0%;
}

.shows__content {
  display: flex;
  align-items: flex-end;
  align-content: center;
  height: 80vh;
}

.shows__content h1 {
  font-family: 'Segoe UI';
    font-weight: 500;
    color: var(--green);
    letter-spacing: 1px;
    text-rendering: auto;
    text-shadow: 3px 3px 1px var(--global-text);
    margin-bottom: 75px;
}
.shows__content h4 {
  color: white;
  text-shadow: 3px 2px 0 var(--global-text);
  margin-bottom: 20px;
}

#showsBtn {
  margin-left: 0;
}

/*-----------------------------------------------/
/       HERO   SECTION  BELLOW                   /
/-----------------------------------------------*/

.hero__background {
  background-color: #f2f9f1;
  padding: 80px 0;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: auto;
}
.hero__content h2 {
  color: #62636d;
}
.hero__content h3 {
  color: #6c757d;
  margin-bottom: 40px;
}
.hero__content .parrax {
  color: #6c757d;
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 30px;
}
.hero-menu {
  margin-left: 80px;
  margin-bottom: 40px;
}
.hero-menu li {
  line-height: 1.6;
  text-align: start;
  color: var(--success);
  list-style-type: decimal;
}
.hero-menu li::marker {
  color: red;
  background: orange;
  font-weight: bold;
  font-family: monospace;
}
.hero-menu li {
  counter-increment: custom-num;
  position: relative;
  margin-bottom: 10px;
}
.hero-menu li::before {
  content: counter(custom-num); /* ")";  display counter with custom format */
  position: absolute;
  left: -40px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  color: #007bff;
  font-size: 16px;
  background-color: orange;
  border-radius: 50%;
}

/*------------------------------------------------/
/         OMEGA SECTION STARTING NOW              /
/------------------------------------------------*/
.alpha__background {
  background-color: var(--global-text);
}
.alpha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.alpha h3 {
  font-size: inherit;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: var(--global-secundary);
  margin-bottom: 30px;
}
#alphaBtn {
  margin-right: auto;
}
/*------------------------------------------------/
/         OMEGA SECTION STARTING NOW              /
/------------------------------------------------*/
.omega__background {
  background-color: #f8f9fa;
  padding: 80px 0;
}
.omega__wrapper {
  text-transform: capitalize;
}
.omega__wrapper h2 {
  font-size: 2rem;
  color: #375344;
  margin-bottom: 40px;
}
.omega__wrapper h3 {
  font-size: 1.75rem;
  color: #6c757d;
  margin-bottom: 40px;
}
.omega__wrapper .parrax {
  color: #6c757d;
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 30px;
}
.parrax .legal-anchor,
.omega__wrapper .legal-anchor {
  color: #009800;
  text-transform: lowercase;
  cursor: pointer;
  transition: color 0.3s linear;
}
.parrax .legal-anchor:hover,
.omega__wrapper .legal-anchor:hover {
  color: #90ee90;
}
/*------------------------------------------------/
/         TAGS SECTION STARTING NOW               /
/------------------------------------------------*/


.tags__background {
  background-color: var(--global-primary);
}
.tags__wrapper {
  display: flex;
  column-gap: 20px;
  align-items: end;
  justify-content: center;
  align-content: center;
  height: 400px;
  padding-bottom: 20px;
}
.tag__img {
  border: none;
  height: 100px;
}
.tag__img img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: hue-rotate(32deg);
  opacity: 50%;
  filter: grayscale(100%) opacity(0.5);
  -webkit-filter: grayscale(100%) opacity(0.5);
  -moz-filter: grayscale(100%) opacity(0.5);
  -ms-filter: grayscale(100%) opacity(0.5);
  -o-filter: grayscale(100%) opacity(0.5);
  transition: 400ms ease;
}
.tag__img img:hover {
  filter: hue-rotate(72deg);
  transform: scale(1.05);
}

/*------------------------------------------------/
/       NAVBAR SECTION STARTING NOW               /
/------------------------------------------------*/

footer {
  clear: both;
  text-align: center;
  color: var(--global-secundary);
}
.footer__background {
  background-color: var(--global-text);
}
.footer-menu {
  list-style: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100px;
}
.footer-menu li {
  display: inline-block;
}
.footer-menu li a {
  color: var(--global-secundary);
  border-radius: 17px;
  padding: 7px 13px;
  text-transform: capitalize;
}
.footer-menu li a:hover {
  color: var(--success);
}

/*  Footer logo  */
.footer__logo {
  width: 100%;
  border: none;
}
.footer__logo img {
  height: auto;
  width: 100%;
}

/*  Footer contact  */
.footer__contact {
  border: none;
}
.footer__contact h3 {
  text-transform: capitalize;
  margin: 40px auto;
}
.footer__contact .footer-anchor {
  color: var(--global-secundary);
  display: block;
  text-transform: capitalize;
  text-align: baseline;
  padding: 0.7em 0;
}
.footer__contact .footer-anchor:hover {
  color: var(--success);
}
.footer-anchor:nth-of-type(3) {
  text-transform: unset;
}

/*  Footer bottom  */
.footer__bottom {
  border: none;
  padding-bottom: 40px;
}
.footer__bottom h2 {
  text-transform: capitalize;
  margin: 40px auto;
}
/* Last man stand */
.ultimo__hombre {
  border-top: 1px solid var(--global-secundary);
  padding: 5px 7px;
}

/* TO TOP BUTTON BELLOW  */
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background: rgba(255, 0, 0, 0.5) ;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  z-index: 99;
  transition: background 0.3s linear;
}
#myBtn:hover {
  background: rgba(0, 255, 0, 0.5);
}


/*----------------------------------------------/
/   MEDIAA QUERIES 578px and 922px breakpoints  /
/   MEDIAA QUERIES 578px and 922px breakpoints  /
/   MEDIAA QUERIES 578px and 922px breakpoints  /
/----------------------------------------------*/

@media screen and (min-width: 578px) and (max-width: 922px) {
    .header__background {
        background-color: var(--global-text);
    }
    .navbar .checkBtn {
        display: block;
        font-size: 3rem;
        color: var(--global-secundary);
        cursor: pointer;
    }
    .navbar #check {
      opacity: 0;
    }
    .navbar .menu-item {
        display: block;
        padding: 1em;
    }
    .nav-menu {
      opacity: 0;
        padding: 0;
        border: none;
        text-align: start;
        width: 60%;
        pointer-events: none;
        background: var(--global-primary);
        height: 100vh;
        position: absolute;
        top: 120px;
        left: 0;
        z-index: 12;
        transition: 400ms ease-in-out;
    }
    .navbar input:checked ~ .nav-menu {
      opacity: 1;
      pointer-events: auto;
    }
    a.active, .navbar a:hover {
    border: unset;
    color: var(--global-secundary);
    box-shadow: unset;
  }

    /** Shows Section **/
  .shows__background {
    height: 25em;
  }
  .shows__content {
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 25em;
  }
  .shows__frame {
    position: unset;
    width: 90%;
    height: 25em;
    padding: 0 0 2em 0;
  }
}

/*-------------------------------------/
/   MEDIAA QUERIES 486PX Brekpoints    /
/   MEDIAA QUERIES 486PX Brekpoints    /
/   MEDIAA QUERIES 486PX Brekpoints    /
/-------------------------------------*/

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .btn {
    max-width: 100%;
    margin: 2em auto;
  }

  /* Header */
  .header{
    height: auto;
    flex-direction: column;
    padding: 2em 0;
  }
  .header .top-anchor:nth-of-type(1) {
    display: none;
  }
  .header .top-anchor:nth-of-type(2) {
    margin-left: unset;
  }

  /* navbar */
  .navbar {
    height: auto;
    flex-direction: column;
  }
  .checkBtn {
    display: block;
    font-size: 3em;
    font-weight: bolder;
    color: var(--global-secundary);
    cursor: pointer;
    position: absolute;
    top: 0.5em;
    right: 0;
  }
    
  #check {
    opacity: 0;
  }
  .navbar .nav__logo {
    margin-right: auto;
    padding: 0;
  }
  .nav-menu .menu-item {
    display: block;
    padding: 1em;
  }
  .nav-menu {
    opacity: 0;
    border: none;
    width: 100%;
    background-color: #4f7721;
    height: 100vh;
    pointer-events: none;
    position: absolute;
    top: 120px;
    left: 0;
    z-index: 12;
    transition: 500ms ease-in-out;
  }
  .navbar input:checked ~ .nav-menu {
    opacity: 1;
    pointer-events: auto;
  }
  a.active, .nav-menu a:hover {
    border: unset;
    color: var(--global-secundary);
    box-shadow: unset;
  }

  /** Shows section **/
    .shows__background {
    height: auto;
  }
  .shows__frame {
    position: unset;
    width: 90%;
    height: auto;
  }
  .shows__content {
    padding: 2em 0.5em;
    width: 100%;
  }
  #modalBtn {
    max-width: 90%;
  }
  
  /* Alpha Card */
  .alpha__card {
    width: 100%;
  }
  .alpha__contento {
    padding: 0 0.5em;
  }
  .alpha {
    padding: 0 0.5em;
  }
  .tags__wrapper {
    height: auto;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 2em;
  }

    /*  FOOTER  FOOTER  */
  .footer__background {
    padding: 0 0.3em 2em;
  }

  .footer-menu li a {
    font-size: 80%;
    padding: 0px;
    margin: 0 0 3rem;
    margin-right: 0.5em;
  }
  #footerBtn {
    max-width: 100%;
  }

}
